.dialog {
  .dialog-header {
    display: flex;
    justify-content: space-between;
    margin: 0 calc(var(--space-md) * -1);
    border-bottom: 1px solid var(--border-200);
    padding: 0 var(--space-md) var(--space-sm);
    align-items: center;
  }

  .dialog-content {
    padding: var(--space-sm) 0;
  }

  .dialog-footer {
    display: flex;
    justify-content: end;
    gap: var(--space-sm);
    margin: 0 calc(var(--space-md) * -1);
    border-top: 1px solid var(--border-200);
    padding: var(--space-sm) var(--space-md) 0;
  }
}
