@use "../abstract/sass-vars" as vars;

@mixin pill-solid() {
  &.pill-solid {
    color: var(--button-fg-filled);
    @each $color in vars.$colorOptions {
      &.color-#{$color} {
        background-color: var(--pill-bg-filled-#{$color});
      }
    }
  }
}
@mixin pill-outline() {
  &.pill-outline {
    background-color: var(--transparent);
    border-color: currentColor;

    @each $color in vars.$colorOptions {
      &.color-#{$color} {
        color: var(--pill-fg-outline-#{$color});
      }
    }
  }
}

@mixin pill-translucent() {
  &.pill-translucent {
    @each $color in vars.$colorOptions {
      &.color-#{$color} {
        color: var(--text-#{$color});
        background-color: var(--pill-bg-translucent-#{$color});
        border-color: var(--pill-bg-solid-#{$color});
      }
    }
  }
}

.pill {
  height: var(--pill-height);
  padding: 0 var(--pill-padding);
  position: relative;
  border-radius: var(--radius-rounded);
  line-height: 1;
  border-width: 0;
  text-align: center;

  &.with-border {
    border-width: 1px;
    border-style: solid;
  }
  @include pill-solid();
  @include pill-outline();
  @include pill-translucent();
}
