@use "../abstract/sass-vars" as vars;

.stepper {
  .icon{
    font-weight: var(--weight-bold);
  }
  .divider{
    margin-top: calc(var(--space-sm) + 0.25rem);
  }
  .initial {
    @each $color in vars.$colorOptions {
      .color-#{$color} {
        color: var(--stepper-fg-outline-#{$color});
        border-color: var(--stepper-outline-#{$color});
      }
      .border-#{$color}{
        border-color: var(--stepper-outline-#{$color});
      }
    }
  }
}