.cart-page{
  .right-section{
    max-width: 432px;
    width: 100%;
    background-color: var(--surface-200);
  }
}
table{
  width: 100%;
  border-collapse: collapse;
  th,td{
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-default);
  }
}
.cart-image{
  max-width: 4rem;
  max-height: 4rem;
  object-fit: cover;
  border-radius: var(--radius-default);
}
.payment-type-box{
  border: 1px solid var(--border-default);
  border-radius: var(--radius-default);
  padding: var(--space-sm) var(--space-2xs);
  flex: 1;
  background-color: var(--surface-100);
  cursor: pointer;
}